.full-width {
  width: 100%;
}

body {
  padding: 150px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 1200px;
}
  