@import '../assets/scss/_mixins.scss';
@import '../assets/scss/_variables.scss';

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $main_color;
    text-align: center;
    height: 40px;

    p {
        margin-top: 15px;
        font-size: 10px;
        color: white;
        font-weight: bold;
    }
}
