@import '../assets/scss/_mixins.scss';
@import '../assets/scss/_variables.scss';

.menu {
	background-color: $header_color;
	height: 55px;

    width: inherit;
    position: fixed;
	z-index: 999;

	top: 0;
	left: 0;
	right: 0;

	&-container {
        display: flex;
        position: fixed;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 7px 6px;
        box-sizing: border-box;
    }

    &-logo,
    &-loading {
        img {
            height: 30px;
        }
    }

    &-input {
        flex-grow: 2;
        input {
            width: 300px;
        }
    }

    &-item {
        padding-left: 16px;
        padding-right: 16px;

        &:last-child {
            padding-left: 0;
        }
    }
}

@include mobile {
    .menu {

        &-container {
            justify-content: space-around;
        }

        &-logo {
            display: none;
        }

        &-input {
            flex-grow: 0;
            input {
                width: 260px;
            }
        }

        &-item {
            padding-left: 0;
            padding-right: 0;

            &:last-child {
                padding-left: 16px;
            }
        }
    }
}
